@import 'normalize';
@import 'slider-reset';


$navy: #001f3f;
$blue: #0074d9;
$aqua: #7fdbff;
$teal: #39cccc;
$olive: #3d9970;
$green: #2ecc40;
$lime: #01ff79;
$yellow: #ffdc00;
$orange: #ff851b;
$red: #ff4136;
$maroon: #85144b;
$fuchsia: #f012be;
$purple: #b10dc9;
$black: #111;
$gray: #aaa;
$silver: #ddd;
$white: #fff;

$system-font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
             Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;

$main-color: $yellow;
$secondary-color: darken($teal, 10%);
$background-color: $black;
$disabled-color: $gray;
$error-color: $red;

html {
  background-color: $background-color;
  box-sizing: border-box;
  color: $main-color;
  font-family: $system-font;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.app {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
  width: 100vw;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $secondary-color;
}

.text-center {
  text-align: center;
}

.content {
  display: grid;
  gap: 1em;
  padding:  1em;
  place-items: center;
}

.canvas {
  border: .1em solid $main-color;
  height: 50vh;
  width: 100%;
}

.page-header {
  border-bottom: .1em solid $main-color;
  text-align: center;
}

footer {
  border-top: .1em solid $main-color;
  text-align: center;
}

.controls {
  display: grid;
  gap: .5em .5em;
  grid-template-columns: repeat(auto-fit, minmax(10em, 1fr));
}

.no-pad-h {
  padding-left: 0;
  padding-right: 0;
}

.span-all {
  grid-column: 1/-1;
}

@for $i from 2 through 12 {
  .grid-#{$i}-cols {
    display: grid;
    grid-template-columns: repeat($i, 1fr);
  }
}

@for $i from 2 through 12 {
  .span-#{$i} {
    grid-column-end: span $i;
  }
}

fieldset {
  font-weight: lighter;
}

.controls-grid {
  display: grid;
  gap: 1.5em 0;
  width: 100%;
  max-width: 60rem;

  > fieldset > legend {
    font-weight: normal;
  }
}

.alert {
  border-color: $error-color;
  color: $error-color;
}

.button-style {
  background-color: inherit;
  border-color: $main-color;
  border-radius: 25em;
  border-style: solid;
  border-width: .1em;
  color: inherit;
  font-weight: lighter;
  line-height: 1.5;
  padding: 0 1.5em;
  text-align: center;
}

.button-span {
  white-space: nowrap;
  text-overflow: ellipsis;
  display: block;
  overflow: hidden;
}

button {
  @extend .button-style;

  &.active {
    background-color: $main-color;
    color: $background-color;
    font-weight: normal;
  }

  &:active {
    font-weight: bolder;
  }

  &:enabled {
    cursor: pointer;

    &:hover,
    &:focus {
      box-shadow: 0 0 1em $main-color;
    }
  }

}

fieldset {
  border: 0;

  &:disabled {
    opacity: .3;

    * {
      border-color: $disabled-color;
      color: $disabled-color;
    }
  }
}

legend {
  color: $secondary-color;
  font-size: larger;
}

.flex {
  display: flex;
}

.space-between {
  justify-content: space-between;
}

input[type="range"] {
  $thumb-height: 1.5em;

  padding: 0;

  font-size: 1em;
  height: $thumb-height;

  &:focus,
  &:active,
  &:hover {
    box-shadow: 0 0 1em $main-color;
  }

  @mixin thumb-style {
    background: $main-color;
    border: 0;
    border-radius: $thumb-height;
    cursor: pointer;
    height: $thumb-height;
    margin: 0;
    width: $thumb-height;

    &:hover,
    &active,
    &:focus {
      box-shadow: 0 0 1em $main-color;
    }
  }

  @mixin track-style {
    background: transparent;
    border: 0;
    cursor: pointer;
    height: $thumb-height;
    width: 100%;

    &:focus,
    &:active,
    &:hover {
      background-color: transparentize($main-color, .95);
    }

  }

  &::-webkit-slider-thumb {
    @include thumb-style;
  }

  &::-webkit-slider-runnable-track {
    @include track-style;
  }

  &::-moz-range-thumb {
    @include thumb-style;
  }

  &::-moz-range-track {
    @include track-style;
  }

  &::-ms-thumb {
    @include thumb-style;
  }

  &::-ms-track {
    @include track-style;
  }

}
