@import 'normalize';


$navy: #001f3f;
$blue: #0074d9;
$aqua: #7fdbff;
$teal: #39cccc;
$olive: #3d9970;
$green: #2ecc40;
$lime: #01ff79;
$yellow: #ffdc00;
$orange: #ff851b;
$red: #ff4136;
$maroon: #85144b;
$fuchsia: #f012be;
$purple: #b10dc9;
$black: #111;
$gray: #aaa;
$silver: #ddd;
$white: #fff;

$system-font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
             Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;

$main-color: $fuchsia;
$secondary-color: darken($teal, 10%);
$background-color: $black;
$disabled-color: $gray;
$error-color: $red;

html {
  background-color: $background-color;
  box-sizing: border-box;
  color: $main-color;
  font-family: $system-font;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.app {
  display: grid;
  grid-template-rows: 5em 1fr 3em;
  height: 100vh;
  width: 100vw;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $secondary-color;
}

.content {
  display: grid;
  height: 100%;
  place-items: center;
}

.canvas {
  border: .1em solid $main-color;
}

.page-header {
  border-bottom: .1em solid $main-color;
  text-align: center;
}

footer {
  border-top: .1em solid $main-color;
  text-align: center;
}

.buttons {
  display: grid;
  gap: .5em .5em;
  grid-template-columns: 1fr 1fr 1fr;
  width: 640px;
}

.button-grid {
  display: grid;
  gap: 1.5em 0;
}

.alert {
  border-color: $error-color;
  color: $error-color;
}

button {
  background-color: inherit;
  border-color: $main-color;
  border-radius: 25em;
  border-style: solid;
  color: inherit;
  font-weight: lighter;
  line-height: 1.5;
  text-align: center;

  &.active {
    background-color: $main-color;
    color: $background-color;
    font-weight: normal;
  }

  &:enabled {
    cursor: pointer;
    &:hover,
    &:focus {
      box-shadow: 0 0 1em $main-color;
    }
  }

}

.span-all {
  grid-column-end: -1;
  grid-column-start: 1;
}

fieldset {
  border: 0;

  &:disabled {
    opacity: .3;

    * {
      border-color: $disabled-color;
      color: $disabled-color;
    }
  }
}

legend {
  color: $secondary-color;
  font-size: larger;
}
